
@import "tailwindcss";

:root {
    --background: #ededed;
    --foreground: #070707;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
	--background: #070707;
	--foreground: #ffffff;
    }
}

body {
    font-family: "MathJax_Typewriter", "Courier", "Courier New", "FreeMono", "Times New Roman";
    background: var(--background);
    color: var(--foreground);
}

#navigator-panel {
    width: 450px;
}
#navigator-button {
    display: none;
}


@media (max-width: 850px) {
    #navigator-panel {
	display: none;
    }
    #navigator-button {
	display: inline;
    }
}

